@media screen and (max-width: 1480px){
    .car-vin{
        width: 105px;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        overflow: hidden;
    }
    .insurance form select{
        width: 250px;
    }
    .insurance form input[type=text]{
        width: 250px;
    }
    .insurance .input-block{
        width: 250px;

    }
    .special-item{
        height: 116px;
    }
    .special-item p span{
        font-size: 18px;
    }
    .special-item p {
        font-size: 16px;
    }
}
@media screen and (max-width: 1320px) {
    .propusk-list{
        flex-direction: column;
    }
    .propusk{
        width: 100%;
    }
    .filter.cars-filter{
        display: flex;
        flex-wrap: wrap;
    }
    .cars-info{
        width: 50%;
    }
    .cars-info:nth-child(2){
        order: 3;
    }
    .car-actions{
        width: 40%;
        order: 2;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .car-actions a{
        order: 3;
    }
    .car-actions .car-info-tooltip{
        order: 2;
    }
    .car-actions .car-actions .btn{
        order: 1;
    }
    .car-info-tooltip:hover .tooltip-info{
        left: 0;
        bottom: -24px;
        top: auto;
        width: 220px;
    }
    .car-info-tooltip:hover .tooltip-info svg {
     
        bottom: -7px;
        left: 64%;
    }
    .balance-card-list{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .diagnostic-card-table-row div p{
        flex-direction: column;
        gap: 10px;
    }
    .diagnostic-card-table-row div p > span{
        width: 100%;
    }
    .diagnostic-card-item:last-child .diagnostic-card-table-row{
        flex-wrap: wrap;
    }
    .diagnostic-card-item:last-child  .diagnostic-card-table-row:first-child div:last-child{
        width: 100%;
        border-top: 1px solid #DAE3F8;
    }
    .diagnostic-card-item:last-child  .diagnostic-card-table-row:last-child div:last-child{
        padding: 0;
    }

}

@media screen and (max-width: 1300px){
    .cars-table-scroll{
        max-width: 1280px;
        width: 100%;
        overflow-x: auto;
    }
    .fine-title div:last-child a{
        text-indent: -9999px;
    }
    .fine-car-number{
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
    }
    .fine-date p:last-child{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        display: block;
    }
    .fine-date p:last-child span{
        display: none;
    }
    .fine-car-number{
        display: none;
    }
    .fine-price{
        margin-left: 30px;
        margin-top: 7px;
    }
    .insurance-item{
        width: calc((100% - 20px)/2);
    }
    .insurance form .add-car-item{
        flex-wrap: wrap;
    }

    .add-car-item:nth-child(2){
        width: 100%;
    }
    .monitoring-popup-body{
        max-height: 432px;
        overflow: auto;
    }
    .monitoring-filter{
        margin-bottom: 100px
    }
}
@media screen and (max-width: 1024px){
    textarea{
        min-height: 99px;
    }
    body{
        overflow-x: hidden;
    }
    .personal-info-counter{
        flex-wrap: wrap;
    }
    .personal-info-item:first-child{
        width: 60%;
        margin-bottom: 20px;
    }
    .personal-info-item{

        width: 40%;
        margin-bottom: 20px;
    }
    .personal-info-item:nth-child(3){
        border-left: 1px solid #DAE3F8;
    }
    .personal-info-item:last-child{
        width: 60%;


    }
    .special-list{
        flex-wrap: wrap;
    }
    .special-item{
        width: 100%;
        height: 172px;
    }
    .special-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .services-item{
        max-width: 191px;
    }
    .services-list{
        flex-wrap: wrap;
    }
    .sidebar-menu-item{
        padding-right: 12px;
    }
    .sidebar-menu-link{
        white-space: nowrap;
    }

    .cars-filter{
        display: none;
    }
    td,th{
        white-space: nowrap;
    }
.login-section{
    min-height: 100vh;
}
.login-left img{
    height: 100%;
    object-fit: cover;
}
.add-car form{
    flex-wrap: wrap;
}
.add-car-item:last-child{
    width: 100%;
}
.add-car-item:nth-child(2){
    width: 100%;
}
    .booking-card .add-car-item:nth-child(2) div{
        width: 47%;
    }
    .booking-card .add-car-item:last-child{
        margin-top: 0;
        margin-bottom: 0;
    }
    .faq-item{
        width: 100%;
    }
    .add-car-item:nth-child(2){
        align-items: flex-start;
        justify-content: flex-start;
    }
    .profile .add-car-item:last-child div{
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
    }
    .profile-form-item:last-child{
        margin-top: 0;
        margin-bottom: 60px;
    }
    .profile-form-item div{
        width: 48%;
    }
    .tabs-list{
        flex-wrap: wrap;
    }
    .fine-body{
        position: relative;
    }
    .fine-body .btn{
        position: absolute;
        bottom: 17px;
        right: 0;
    }
    .fine-info{
        margin-bottom: 83px;
    }
    .fine-body h2{
        margin-bottom: 24px;
    }
    .fine-info p span {
        text-align: right;
        justify-content: flex-end;
    }
    .insurance form input[type=text] {
        width: 291px;
    }
    .insurance form select {
        width: 291px;
    }
    .offer-info{
        flex-direction: column;
    }
    .offer-text {
        width: 100%;
    }
    .special-offers .special-item{
        height: 172px;
    }
    .content{
        height: 100%;
    }
    .monitoring{
        height: 100%;
    }
    .monitoring-map img{
        height: 100%;
    }
    .monitoring-map{
        height: 100%;
    }
    .story-list{
        align-items: flex-start;
    }
    .story-list li{
        display: none;
    }
    .story-list li.story-active{
        display: flex;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
    }
    .story-img{
        width: 100%;
    }
    .story-active .story-content > div:last-child {
        margin-top: auto;
        margin-bottom: 50px;
    }
    .story-pagination{
        position: absolute;
        display: flex;
        width: 105px;
        height: 3px;
        top: 33px;
        left: 24px;
    }
    .story-pagination a{
        width: 35px;
        display: flex;
        background: #D9D9D9;
        opacity: 20%;
        z-index: 1;
    }
    .story-pagination a.story-pagination-item-active{
        background: #fff;
        opacity: 1;
    }
}

@media screen and (max-width: 920px){
    .login{
        width: 90%;
    }
}

@media screen and (max-width: 900px){
    .navbar{
        padding: 0;
    }
    .services-item {
        max-width: 100%;
    }
    .navbar-profile-info{
        display: none;
    }
    .personal-manager-contact{
        flex-direction: column;
        gap: 5px;
    }
    .navbar{
        gap: 40px;
    }

    .propusk .form-filter{
        flex-direction: column;
        gap: 25px;
        margin-bottom: 20px;
    }
    .form-filter-item{
        width: 100%;
    }
    .form-filter-item >div{
        width: 100%;
    }
    .form-filter-item:last-child > div{
        width: 100%;
    }
    .car-actions{
        width: 100%;
        order: 3;
        justify-content: flex-start;
        margin-top: 20px;
    }

    .cars-info{
        width: 100%;
    }
    .cars-filter{
        padding-bottom: 80px;

    }
    .car-actions .btn{
        width: 100%;
    }
    .car-info-tooltip:hover .tooltip-info svg{
        left: 10px;
    }
    .booking-card .add-car-item:nth-child(2) div{
        width: 100%;
    }
    .booking-card  .add-car-item:last-child div:last-child{
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        margin-top: 0;
    }
    .booking-card  .add-car-item .btn{
        width: 100%!important;
    }

    .balance-history-row div:last-child p:first-child span{
        white-space: nowrap;
    }
    .balance-history-row{
        align-items: flex-start;
    }
    .balance-history-row p:last-child{
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
    }
    .support .add-car-item div{
        width: 100%;
    }
    .profile-form-item div{
        width: 100%;
    }
    .profile-form-item:last-child div{
        flex-wrap: wrap;
    }
    .profile-form-item:last-child div .btn{
        width: 100%!important;
    }
    .profile .add-car-item:nth-child(2) div {

        width: 100%;
    }
    .diagnostic-card-table-row div p > span{
        word-break: break-word;
    }
    .fine-date span{
        font-size: 14px;
    }
    .fine-date p:last-child{
        font-size: 14px;
    }
    .fine-price{
        font-size: 14px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .fine-title div:last-child svg{
        height: 16px;
        margin-top: 10px;
    }
    .fine-body{
        padding-left: 0;
    }
    .fine-price{
        margin-left: 10px;
    }
    .fine-date p{
        gap: 5px;
        flex-direction: column;
    }
    .fine-date{
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 10px;
        margin-left: 10px;
    }
    .fine-date p:last-child{
        margin-left: -40px;
    }
    .fine-title > div:first-child{
        width: 30px;
    }
    .fine-view{
        padding: 20px;
    }
    .fine-view-filter .btn{
        display: none;
    }
    .insurance-item{
        width: 100%;
    }
    .insurance form input[type=text] {
        width: 100%;

    }
    .insurance form select {
        width: 100%;

    }
    .insurance form .add-car-item:not(:first-child) > div{
        width: 100%;
    }
    .insurance .input-block {
        width: 100%;

    }
    .insurance form .add-car-item:last-child div:last-child{
        flex-direction: column;
    }
    .insurance form .add-car-item:last-child div:last-child .btn{
        width: 100%;

    }
    .insurance form{
        margin-top: 25px;
    }
    .offer-img{
        width: 305px;
        height: 385px;
    }

}

@media screen and (max-width: 700px) {
    main{
        width: 100%;
        padding-bottom: 60px;
    }
    .navbar{
        display: none;
    }
    aside{
        display: none;
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 63px;
        width: 100%;

    }
    .sidebar-head{
        padding: 0;
        width: 158px;
    }
    header{
        padding: 19px 15px 11px 15px;
    }
    .contacts{
        flex-direction: column;
        gap: 5px;
    }
    .contacts a:first-child{
        color: #2C3036;
        text-align: right;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 4%;
    }
    .contacts a:last-child{
        color: #53565B;
        font-size: 10px;
        line-height: 12px;
        text-decoration: underline;
        font-family: "Golos Text", sans-serif;
    }
    .personal-info{
        padding: 30px 20px;
    }
    .welcome-text{
        font-size: 18px;
    }
    .personal-info-item{
        width: 100%!important;
        border-right: 0;
        border-left: 1px solid #DAE3F8;
    }
    .special{
        padding: 30px 20px;
    }
    .block-title{
        font-size: 18px;
    }
    .sidebar-text{
        font-size: 7px;
    }
    .sidebar-title{
        font-size: 10px;
    }
    .bottom-mobile-menu{
        display: flex;
        position: fixed;
        bottom: 0;
        height: 66px;
        width: 100%;
        background: #fff;
        justify-content: space-between;
        padding: 13px 15px;
        border-top: 1px solid #DAE3F8;
        z-index: 9;

    }
    .bottom-mobile-menu svg circle,
    .bottom-mobile-menu svg path,
    .bottom-mobile-menu svg line{
        stroke: #546070;
    }
    .bottom-mobile-menu .mobile-menu-item:last-child svg path{
        stroke: #2C3036;

    }
    .cars-filter{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .cars-add{
        order: 1;
    }
    .cars-add .btn{
        width: 285px;
    }
    .cars-filter-sort{
        order: 2;
    }
    .cars-table-scroll,.car-load-more, .car-table-result-count{
        display: none;
    }
    .cars-table-mob-item{
        margin-bottom: 20px;
    }
    .cars-table-mob-head{
        display: flex;

        box-sizing: border-box;
    }
    .cars-table-mob-head div{
        padding: 23px 20px;
        display: flex;
        align-items: center;
        color: #2C3036;
        font-size: 14px;
        border: 1px solid #DAE3F8;


    }
    .cars-table-mob-head div:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        border-left: none;
        width: calc(100% - 124px);
        }
    .cars-table-mob-head div:first-child{
        background: #F2F5FA;
        border: 1px solid #DAE3F8;
        color: #546070;
        font-size: 14px;
        width: 124px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }
    .cars-table-body{
        display: flex;
    }
    .cars-table-body > div{
        padding: 23px 20px;
        display: flex;
        align-items: center;
        color: #2C3036;
        font-size: 14px;

    }
    .cars-table-body > div:first-child{
        background: #F2F5FA;
        border: 1px solid #DAE3F8;
        border-bottom: 0;
        color: #546070;
        font-size: 14px;
        width: 124px;
        word-break: break-all;
    }
    .cars-table-body > div:last-child{

        border: 1px solid #DAE3F8;
        border-bottom: 0;
        border-left: 0;
        width: calc(100% - 124px);
    }
    .cars-table-body:last-child > div:last-child{
            border-bottom: 1px solid #DAE3F8;

        border-bottom-right-radius: 10px;
    }
    .cars-table-body:last-child > div:first-child{
        border-bottom: 1px solid #DAE3F8;

        border-bottom-left-radius: 10px;
    }
    .cars-table-mob-item-closed .cars-table-body{
        display: none;
    }

    .car-table-pagination{
        justify-content: center;
    }
    .cars-table-mob-item-opened  .cars-table-mob-head div:first-child{
        border-bottom-left-radius: 0;
        border-bottom: 0;
    }
    .cars-table-mob-item-opened  .cars-table-mob-head > div:last-child{
        border-bottom-right-radius: 0;
        border-bottom: 0;

    }

    .cars-table-mob-item-opened .car-table-time{
        margin-left: 5px;
    }
    .cars-table-mob-item .car-status-green,
    .cars-table-mob-item .car-status-gray{
        margin-top: 0;
    }
    .cars-table-mob{
        display: block;
    }
    .cars-table-mob-item-closed  .cars-table-mob-head div svg{
        transform: rotate(180deg);
    }

    .login{
        flex-direction: column;
        margin: 15px 0;


    }
    .login-left{
        width: 100%;
        height: 300px;

    }
    .login-left img{
        object-fit: cover;
        width: 100%;

    }
    .login-right{
        width: 100%;
        padding-bottom: 50px;
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .propusk-table-mob .cars-table-mob-head div:last-child{
        flex-direction: column;
        align-items: flex-start;
    }
    .propusk-table-mob  div:last-child p{
        width: 100%;
    }
    .propusk-table-mob .cars-table-body .fw{
        width: 100%!important;
        background: transparent;
        border-left: 1px solid #DAE3F8;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
    }
    .propusk-table-mob .cars-table-body .fw .btn{
        width: 100%;
    }
    .propusk-table-mob   .cars-table-body > div:last-child {
        flex-direction: column;
    }
    .propusk-table-mob   .cars-table-body div.propusk-status, .propusk-table-mob   .cars-table-body div.propusk-photo{
        flex-direction: row;
    }
    .cars-table{
        padding-left: 20px;
        padding-right: 20px;
    }
    .propusk-table-content p.start{
        font-size: 12px;
    }
    .propusk-table-content p.end{
        font-size: 12px;
    }
    .cars-table-body > div:first-child{
        padding-right: 5px;
    }
    .propusk-table-content .cars-table-body > div:first-child{
        width: 110px;
    }
    .propusk-table-content  .cars-table-body > div:last-child:not(.fw){
        width: calc(100% - 110px);
    }
    .content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .propusk-table-content .cars-table-mob-head > div:first-child{
        width: 110px;
    }
    .propusk-table-content .cars-table-mob-head >div:last-child{
        width: calc(100% - 110px);

    }
    .propusk-table-mob .cars-table-body  div:last-child{
        text-align: left;
        align-items: flex-start;
        color: #8E909D;
    }
    .popup-content{
        padding-left:20px;
        padding-right: 20px;
        height: 100%;
    }
    .fines-table-mob .cars-table-mob-head{
        width: 100%;
    }
    .fines-table-mob .cars-table-mob-head > div:first-child{
        background: transparent;
        border-right: none;
    }
    .fines-table-mob .cars-table-mob-head > div:first-child div{
        width: 60px;
        border: none;
    }
    .fines-table-mob .cars-table-mob-head > div:not(:first-child):not(:last-child){
        border-right: none;
        border-left: none;
        width: 100%;
    }
    .fines-table-mob .cars-table-mob-head div:last-child{
        width: auto;
    }
    .fines-table-mob .fine-red{
        color: #D92020;
    }
    .fines-table-mob .fine-green{
        color: #27AE60;
    }
    .fines-table-mob .car-table-time{
        margin-left: 0;
    }
    .fines-table-mob .cars-table-mob-item-opened .cars-table-mob-head div{
        border-bottom:0
    }
    .fines-table-mob  .cars-table-mob-head div{
        padding: 12px 15px;
    }
    .fines-table-mob .car-table-time{
        color: #8E909D;
    }
    .fines-table-mob .price{
        font-weight: 500;
        font-family: "Golos Text", sans-serif;
    }
    .fines-table-mob .cars-table-body .fw{
        width: 100%;
        background: transparent;
        border-left: 1px solid #DAE3F8;
        padding-right: 20px;
    }
    .fines-table-mob .cars-table-body .fw .btn{
        width: 100%;
    }
    .booking-card .add-car h2{
        font-size: 20px;
    }
    .balance-history-row p{
        font-size: 14px;
    }
    .balance-card-list div{
        width: 147px;
        height: 83px;
    }
    .balance-card-list{
        gap: 9px;
    }
    .balance{
        padding-left: 20px;
        padding-right: 20px;
    }
    .balance-info p{
        font-size: 14px;
    }
    .balance-info .btn{
        width: 228px;
    }
    .balance-info h2{
        font-size: 32px;
    }
    .balance-info h2 span{
        font-size: 20px;
    }
    .notification h2{
        font-size: 20px;
    }
    .notification-list h3{
        font-size: 16px;
    }
    .notification{
        padding-left: 20px;
        padding-right: 20px;
    }
    .notification-list p{
        font-size: 14px;
    }
    .add-car-item:last-child div:last-child{
        margin-top: 20px;
    }
    .support  h2, .faq h2{
        font-size: 20px;
    }
    .support-contact h2{
        font-size: 16px;
    }
    .popup-propusk .popup-content > .btn:last-child{
        margin-top: auto;
    }
    .diagnostic-card-list h2{
        font-size: 20px;
    }
    .diagnostic-card-list{
        padding-left: 20px;
        padding-right: 20px;
    }
    .diagnostic-card-table-row div p > span{
        word-break: break-word;
    }
    aside {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding-bottom: 80px;
    }
    aside .sidebar-head{
        padding: 20px 44px 31px;
        width: 206px;
    }
    aside .sidebar-title{
        font-size: 14px;
    }
    aside .sidebar-text{
        font-size: 10px;
    }
    aside .navbar-profile{
        padding-left: 44px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    aside .navbar-profile-info{
        display: block;
    }
    aside.opened{
        display: block;
    }
    aside .navbar-circle{
        width: 60px;
        height: 60px;
    }
    aside .navbar-profile-balance{
        font-size: 14px;
        color: #566577;
        font-family: "Golos Text", sans-serif;
        text-decoration: underline;
    }
    aside .navbar-profile-text{
        font-size: 16px;
        font-family: "Golos Text", sans-serif;

    }
    aside .navbar-profile-title{
        font-size: 16px;
        font-family: "Golos Text", sans-serif;
    }

    aside .sidebar-footer{
        display: none;
    }
    .sidebar-contacts{
        display: block;
        margin-bottom: 26px;
    }
    .sidebar-contacts h4{
        font-size: 20px;
        color: #D92020;
        font-weight: 700;
        margin-bottom: 10px;
        padding-left: 24px;
        margin-top: 0;
    }

    .sidebar-contacts a{
        color: #53565B;
        font-size: 14px;
        font-family: "Golos Text", sans-serif;
        padding-left: 24px;
        text-decoration: underline;

    }
    .sidebar-story{
        margin-bottom: 60px;
    }
    aside .sidebar-menu-block{
        padding-bottom: 80px;
    }
    .insurance h2{
        font-size: 20px;
        margin-bottom: 0;
    }
    .insurance-item{
        font-size: 14px;
    }
    .insurance-title {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 30px;

    }
    .insurance{
        padding-left: 20px;
        padding-right: 20px;
    }
    .insurance-mob .cars-table-body{
        flex-direction: column;
        border: 0;
        gap: 5px;
        margin-top: 15px;
        padding-left: 20px;

    }
    .insurance-mob .cars-table-body > div:first-child, .insurance-mob .cars-table-body > div:last-child{
        background: #fff;
        border: none;
        padding: 0;
    }
    .insurance-table .cars-table-mob-head{
        border-bottom: 1px solid #DAE3F8;
    }
    .insurance-table .btn-opacity{
        width: 100%;
        height: 48px;
        color: #EC8080;
    }
    .special-text{
        font-size: 26px;
    }
    .monitoring-popup-body{
        max-height: 100%;
        padding-bottom: 80px;
    }
    .monitoring-popup-content{
        width: 100%;
        height: 100%;
    }
    .monitoring-popup{
        display: none;
    }
    .monitoring-filter-mob{
        display: block;
        background: #fff;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;

    }
    .monitoring-filter > div:first-child{
        border-top: 1px solid #DAE3F8;
        border-bottom: 1px solid #DAE3F8;
        margin-bottom: 10px;
    }
    .monitoring-filter-mob select{
        width: 100%;
        margin-bottom: 10px;
    }
    .monitoring-filter-mob .custom-select{
        margin-bottom: 10px;
    }
    .monitoring-filter-mob .custom-select svg{
        bottom: auto;
        top: 12px;
    }
    .monitoring-filter-mob{
        margin-bottom: 20px;
    }
    .monitoring-map img{
        object-fit: cover;
    }
    .pin-view{
        position: relative;
        display: block;
        width: 100%;
        border: none;
    }
    .pin-item{
        flex-wrap: wrap;
    }
    .pin-row:first-child{
        flex-wrap: wrap;
    }
    .pin-row:first-child div{
        width: 50%;
        padding: 20px;
    }
    .pin-row:first-child div:first-child{
        border-bottom: 1px solid #DAE3F8;
    }
    .pin-row:first-child div:nth-child(2){
        border-bottom: 1px solid #DAE3F8;
    }
    .pin-row{
        flex-wrap: wrap;
    }
    .pin-row div{
        width: 100%;
    }
    .pin-row div:first-child{
        border-bottom: 1px solid #DAE3F8;
    }
    .pin-item.opened > div:first-child{
        background: #F8F8F8;
        width: 100%;
        padding: 12px 24px;
        gap: 7px;
        align-items: center;
    }
    .pin-title{
        display: none;
    }
    .pin-info{
        padding: 0;
    }
    .pin-info p:first-child{
        display: none;
    }
    .pin-row:first-child div:nth-child(2){
        border-right: none;
    }
    .pin-row:not(:first-child) div:first-child{
        border-right: none;
    }
    .pin-row:last-child div:last-child{
        display: none;
    }
    .pin-row:last-child div{
        border-bottom: none;
    }
    .monitoring-filter-mob{
        padding-bottom: 30px;
    }
    .monitoring-map{
        height: 345px;
    }
    .pin-actions{
        gap: 10px;
    }
    .notification-count{
        top: -12px;
    }
}

@media screen and (max-width: 480px) {
    .cars-add .btn{
        width: 100%;
    }
    .login-left{
        width: 100%;
        height: 150px;

    }
    .add-car-item:last-child div:last-child{
        flex-direction: column;
        margin-top: 20px;
    }
    .add-car-item .btn{
        width: 100%!important;
       
    }
    .add-car-item  .btn{
        width: 100%;
    }
    .profile .add-car-item .btn-opacity{
        width: 100%!important;
    }
    .fine-date p:last-child{
        width: 50px;
    }
    .fine-price{
        margin-left: 0;
    }
    .pin-list{
        padding-right: 0;
        padding-left: 0;
    }

}