@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .personal-info-counter{
        flex-wrap: wrap;
    }
    .personal-info-item:first-child{
        width: 60%;
        margin-bottom: 20px;
    }
    .personal-info-item{

        width: 40%;
        margin-bottom: 20px;
    }
    .personal-info-item:nth-child(3){
        border-left: 1px solid #DAE3F8;
    }
    .personal-info-item:last-child{
        width: 60%;


    }
    .special-list{
        flex-wrap: wrap;
    }
    .special-item{
        width: 100%;
        height: 172px;
    }
    .special-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .services-item{
        max-width: 191px;
    }
    .services-list{
        flex-wrap: wrap;
    }
    .sidebar-menu-item{
        padding-right: 12px;
    }
    .sidebar-menu-link{
        white-space: nowrap;
    }
    .cars-table-scroll{
        max-width: 1280px;
        width: 100%;
        overflow-x: auto;
    }
    .cars-filter{
        display: none;
    }
    td,th{
        white-space: nowrap;
    }
}


@media screen and (max-width: 900px){
    .navbar{
        padding: 0;
    }
    .services-item {
        max-width: 100%;
    }
    .navbar-profile-info{
        display: none;
    }
    .personal-manager-contact{
        flex-direction: column;
        gap: 5px;
    }
    .navbar{
        gap: 40px;
    }

}

@media screen and (max-width: 700px) {
    main{
        width: 100%;
        padding-bottom: 60px;
    }
    .navbar{
        display: none;
    }
    aside{
        display: none;
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 63px;
        width: 100%;

    }
    .sidebar-head{
        padding: 0;
        width: 158px;
    }
    header{
        padding: 19px 15px 11px 15px;
    }
    .contacts{
        flex-direction: column;
        gap: 5px;
    }
    .contacts a:first-child{
        color: #2C3036;
        text-align: right;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 4%;
    }
    .contacts a:last-child{
        color: #53565B;
        font-size: 10px;
        line-height: 12px;
        text-decoration: underline;
        font-family: "Golos Text", sans-serif;
    }
    .personal-info{
        padding: 30px;
    }
    .welcome-text{
        font-size: 18px;
    }
    .personal-info-item{
        width: 100%!important;
        border-right: 0;
        border-left: 1px solid #DAE3F8;
    }
    .special{
        padding: 30px;
    }
    .block-title{
        font-size: 18px;
    }
    .sidebar-text{
        font-size: 7px;
    }
    .sidebar-title{
        font-size: 10px;
    }
    .bottom-mobile-menu{
        display: flex;
        position: fixed;
        bottom: 0;
        height: 66px;
        width: 100%;
        background: #fff;
        justify-content: space-between;
        padding: 13px 15px;
        border-top: 1px solid #DAE3F8;

    }
    .bottom-mobile-menu svg circle,
    .bottom-mobile-menu svg path,
    .bottom-mobile-menu svg line{
        stroke: #546070;
    }
    .bottom-mobile-menu .mobile-menu-item:last-child svg path{
        stroke: #2C3036;

    }
    .cars-filter{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .cars-add{
        order: 1;
    }
    .cars-add .btn{
        width: 285px;
    }
    .cars-filter-sort{
        order: 2;
    }
    .cars-table-scroll,.car-load-more, .car-table-result-count{
        display: none;
    }
    .cars-table-mob-item{
        margin-bottom: 20px;
    }
    .cars-table-mob-head{
        display: flex;

        box-sizing: border-box;
    }
    .cars-table-mob-head div{
        padding: 23px 20px;
        display: flex;
        align-items: center;
        color: #2C3036;
        font-size: 14px;
        border: 1px solid #DAE3F8;


    }
    .cars-table-mob-head div:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        border-left: none;
        width: calc(100% - 124px);
        }
    .cars-table-mob-head div:first-child{
        background: #F2F5FA;
        border: 1px solid #DAE3F8;
        color: #546070;
        font-size: 14px;
        width: 124px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }
    .cars-table-body{
        display: flex;
    }
    .cars-table-body > div{
        padding: 23px 20px;
        display: flex;
        align-items: center;
        color: #2C3036;
        font-size: 14px;

    }
    .cars-table-body > div:first-child{
        background: #F2F5FA;
        border: 1px solid #DAE3F8;
        border-bottom: 0;
        color: #546070;
        font-size: 14px;
        width: 124px;
        word-break: break-all;
    }
    .cars-table-body > div:last-child{

        border: 1px solid #DAE3F8;
        border-bottom: 0;
        border-left: 0;
        width: calc(100% - 124px);
    }
    .cars-table-body:last-child > div:last-child{
            border-bottom: 1px solid #DAE3F8;

        border-bottom-right-radius: 10px;
    }
    .cars-table-body:last-child > div:first-child{
        border-bottom: 1px solid #DAE3F8;

        border-bottom-left-radius: 10px;
    }
    .cars-table-mob-item-closed .cars-table-body{
        display: none;
    }

    .car-table-pagination{
        justify-content: center;
    }
    .cars-table-mob-item-opened  .cars-table-mob-head div:first-child{
        border-bottom-left-radius: 0;
        border-bottom: 0;
    }
    .cars-table-mob-item-opened  .cars-table-mob-head div:last-child{
        border-bottom-right-radius: 0;
        border-bottom: 0;

    }

    .cars-table-mob-item-opened .car-table-time{
        margin-left: 5px;
    }
    .cars-table-mob-item .car-status-green,
    .cars-table-mob-item .car-status-gray{
        margin-top: 0;
    }
    .cars-table-mob{
        display: block;
    }
    .cars-table-mob-item-closed  .cars-table-mob-head div svg{
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 480px) {
    .cars-add .btn{
        width: 100%;
    }
}