body{
    background: #F2F5FA;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
input{
    outline: none;
}
img{
    max-width: 100%;
}
p,h1,h2,h3,h4,ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
aside{
    width: 310px;
    background: #FEFEFE;
    border-right:1px solid #DAE3F8;
    display: flex;
    flex-direction: column;
}
.j-spc-btw{
    justify-content: space-between;
}

.df{
    display: flex;
}
.a-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.dn{
    display: none;
}

.sidebar-title{
    color: #d92020;
    font-size: 14px;
    font-weight: 700;
    padding-top: 4px;
    white-space: nowrap;
    font-family: "Golos Text", sans-serif;
}
.sidebar-text{
    color: #5e5e5e;
    font-size: 10px;
    font-family: "Golos Text", sans-serif;

}
.sidebar-head{
    padding: 20px 56px 22px 47px;
    gap: 7px;
}
.sidebar-hr{
    padding-left: 20px;
    padding-right: 30px;
}
hr{
    border: none;
    background: #DAE3F8;
    height: 1px;
}

.sidebar-menu-block{
    padding: 0 30px 0 20px;
}

.sidebar-menu{
    padding: 32px 0;
}

.sidebar-menu-item{
    padding: 12px 24px;
}
.sidebar-menu-item:hover{
    background: #D92020;
    border-radius: 5px;
}
.sidebar-menu-item-active{
    background: #D92020;
    border-radius: 5px;
}
.sidebar-menu-link{
    color: #2C3036;
    font-size: 16px;
    line-height: 19px;
    gap: 10px;
    align-items: center;
    font-family: "Golos Text", sans-serif;

}


.sidebar-menu-item:hover .sidebar-menu-link,
.sidebar-menu-item-active .sidebar-menu-link
{
    color: #fff;
}
.sidebar-menu-item:hover .sidebar-menu-link svg path,
.sidebar-menu-item:hover .sidebar-menu-link svg circle,
.sidebar-menu-item:hover .sidebar-menu-link svg line,
.sidebar-menu-item:hover .sidebar-menu-link svg rect,
.sidebar-menu-item-active .sidebar-menu-link svg path,
.sidebar-menu-item-active .sidebar-menu-link svg circle,
.sidebar-menu-item-active .sidebar-menu-link svg line,
.sidebar-menu-item-active .sidebar-menu-link svg rect
{
    stroke: #fff;
}

.sidebar-menu-block h4{
    color: #546070;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    margin-top: 32px;
    padding-left: 24px;
    font-family: "Golos Text", sans-serif;
}
.sidebar-help .sidebar-menu{
    padding-top: 0;
}
.sidebar-story{
    gap: 15px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 42px;
}
.sidebar-story img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
.sidebar-story p{
    text-align: center;
    font-size: 14px;
    color: #9A9A9A;
    margin-top: 5px;
    font-weight: 500;
    font-family: "Golos Text", sans-serif;
}

.sidebar-story-img{
    border-radius: 100%;
    overflow: hidden;
    height: 60px;
    width: 60px;
    opacity: 0.3;
    border: 3px solid #DFDFDF;
}
.sidebar-story-item a:hover p{
    color: #27A468;
}
.sidebar-story-item a:hover .sidebar-story-img{
    opacity: 1;
}
.sidebar-footer{
    padding: 22px 44px;
    border-top: 1px solid #DAE3F8;
    margin-top: auto;
}

.sidebar-close{
    border: none;
    color: #B8BFCC;
    font-size: 16px;
    line-height: 22px;
    background: transparent;
    gap: 10px;
    cursor:pointer
}

main{
    width: calc(100% - 310px);
}

.content{
    background: #F2F5FA;
    padding: 20px;
    box-sizing: border-box;
}

header{
    background: #FEFEFE;
    border-bottom: 1px solid #DAE3F8;
    width: 100%;
    padding: 24px ;
    box-sizing: border-box;
}
.navbar{
    gap: 70px;
    justify-content: space-between;
    width: 100%;
    padding-left: 26px;
    padding-right: 26px;
}
.navbar-search{
    width: 100%;
}
.navbar-balance{
    gap: 8px;
}
.navbar-balance{
    color: #4E505A;
}
.navbar-balance span{
    font-size: 20px;
}
.navbar-balance p{
    white-space: nowrap;
    font-family: "Golos Text", sans-serif;
}
.input-block{
    border: 1px solid #DAE3F8;
    border-radius: 7px;

    width: 100%;
    padding: 13px 16px;
    gap: 12px;
    box-sizing: border-box;
}
.input-block input{
    border: none;
    height: 22px;
    width: 100%;
}
.btn-clear{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.navbar-notify{
    width: 24px;
    height: 24px;
}
.navbar-account{
    gap: 15px;
}
.navbar-circle{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: #DFDFDF;

}
.navbar-profile{
    gap: 10px;
    min-height: 50px;
    cursor: pointer;
}
.navbar-profile-title{
    color: #2C3036;
    font-size: 14px;
    margin-bottom: 1px;
    line-height: 16px;
    font-family: "Golos Text", sans-serif;
}
.navbar-profile-text{
    line-height: 16px;
    font-size: 14px;
    color: #9A9A9A;
    margin-bottom: 3px;
}
.navbar-profile-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.personal-info{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.welcome-text{
    color: #2C3036;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
    padding: 5px 0 5px 20px;
    border-left: 5px solid #D92020;
    font-weight: 500;
}
.welcome-text span{
    color: #d92020;
    font-weight: 700;

}
.personal-info-item{
    border-right: 1px solid #DAE3F8;
    padding: 15px 0 15px 20px;
    width: 33%;
}
.personal-info-item:first-child{
    border-left: 1px solid #DAE3F8;
}

.personal-info-item p:first-child{
    font-size: 20px;
    color: #2C3036;
    margin-bottom: 5px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Golos Text", sans-serif;

}
.personal-info-item p:last-child{
    color: #546070;
    font-size: 16px;
    font-family: "Golos Text", sans-serif;

}
.personal-info-item span{
    color: #d92020;
}
.special{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    gap: 20px;
}

.services{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 20px;
    border-radius: 10px;

}

.add-car{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}


.block-title{
    font-size: 20px;
    line-height: 24px;
    color: #2C3036;
    margin-bottom: 25px;
    font-weight: 600;
}
.special-item{
    width: 33%;
    height: 172px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #DAE3F8;
    box-sizing: border-box;
    position: relative;

}
.special-item img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.special-item:before{
    content: '';
    background: linear-gradient(101.38deg, #484848 5.05%, rgba(72, 72, 72, 0.4) 118.99%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.special-item p{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    font-size: 20px;
    width: 215px;
    line-height: 23px;


}
.special-item p span{
    font-weight: 700;
    font-size: 24px;
}

.special-list{
    gap: 20px;
}

.services-list{
    gap: 20px;
}
.services-item{
    width: calc((100% - 120px) / 7);
    text-align: center;


}

.service-item-img{
    border: 1px solid #DAE3F8;
    border-radius: 10px;
    margin-bottom: 11px;
    background: url("../images/service-bg.png") no-repeat;
    background-position: top;
    background-size: cover;
}
.personal-manager-block{
        background: #fff;
        padding: 25px 30px;
        margin-bottom: 20px;
        border-radius: 10px;

}
.personal-manager{
    gap: 15px;
}
.personal-manager .navbar-circle{
    width: 60px;
    height: 60px;
}

.personal-manager .personal-info{
    color: #2C3036;
    margin-bottom: 6px;
}
.personal-manager-contact{
    gap: 27px;
}
.personal-manager-contact p{
    color: #546070;
}
.personal-manager-contact a{
    color: #546070;
    text-decoration: underline;

}
div{
    box-sizing: border-box;
}


.sidebar-small{
    width: 110px;
}
.sidebar-small .sidebar-desc{
    display: none;
}
.sidebar-small .sidebar-head{
    padding-left: 28px;
    padding-right: 28px;
}
.sidebar-small   .sidebar-hr{
    padding-right: 18px;
}

.sidebar-small .sidebar-menu-block{
    padding-right: 18px;
}
.sidebar-small .sidebar-menu-link{
    text-indent: -999999px;
    gap: 0;
}

.sidebar-small .sidebar-help h4{
    display: none;
}
.sidebar-small .sidebar-story-item:last-child{
    display: none;
}

.sidebar-small .sidebar-story{
    padding: 0;
}

.sidebar-small .sidebar-close{
    text-indent: -99999px;
}
.main-large{
    width: calc(100% - 110px);
}
.cars-filter {
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.cars-table{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 10px;
    overflow: auto;
}
.cars-filter-sort{
    gap: 20px;
}
.cars-filter-sort{
    color: #546070;
    font-family: "Golos Text", sans-serif;
}
.sort-btn{
    color: #D92020;
}

.btn{
    background: #d92020;
    color: #FEFEFE;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    gap: 5px;
    padding: 13px;
    width: 210px;
    height: 48px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;

}
table{
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #DAE3F8;

}
td{
    border-bottom: 1px solid #DAE3F8;
}
th{
    border-bottom: 1px solid #DAE3F8;
}
tr:last-child td{
    border-bottom: 0;
}
th,td{
    padding: 20px;
}
table th:first-child{
    border-top-left-radius: 10px;
}
table th:last-child{
    border-top-right-radius: 10px;
}
table tr:last-child td:last-child{
    border-bottom-left-radius: 10px;
}
table tr:last-child td:first-child{
    border-bottom-right-radius: 10px;
}
th{
    color: #546070;
    font-family: "Golos Text", sans-serif;
    text-align: center;
    font-weight: 400;
}
td{
    text-align: center;
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
}
thead{
    background: #F2F5FA;
    overflow: hidden;
    padding: 20px;
}
.settings-btn{
    text-indent: -9999px;
}
.car-img-add{
    width: 60px;
    height: 60px;
    background: #EDEDED;
    border-radius: 10px;
}
.car-status{
    text-align: left;
}
.car-status div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    display: block;
}
.car-status-green{
    width: 10px;
    height: 10px;
    background: #27AE60;
    border-radius: 100%;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
}
.car-status-gray{
    width: 10px;
    height: 10px;
    background: #DFDFDF;
    border-radius: 100%;
    margin-right: 5px;
    float: left;
    margin-top: 5px;

}

.car-status-th{
    width: 100px;
    text-align: left;
}
.car-photo-th{
    text-align: left;
}

.car-table-time{
    color: #9A9A9A;
}
.car-load-more{
    color: #2C3036;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
    gap: 5px;
}
.pagination{
    align-items: center;
    gap: 10px;
    font-family: "Golos Text", sans-serif;
}
.pagination-item-prev{
    margin-right: 5px;
}
.pagination-item-next{
    margin-left: 5px;
}
.pagination-item{
    align-items: center;
    display: flex;
}
.pagination-item-active{
    color: #D92020;
}
.pagination-item a{
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
}
.pagination-item a:hover {
    color: #D92020;
}
.pagination-item a:hover svg path{
    stroke: #d92020;
}
.car-table-result-count{
    color: #9A9A9A;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
}
.car-table-pagination{
    margin-top: 58px;
}
.login{
    width: 920px;
    margin: 168px auto;
    border-radius: 15px;
    background: #fff;
    overflow: hidden;

}
.login-right{
    padding: 73px 50px 97px;
    box-sizing: border-box;
}
.login-with{
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
}
.login h2{
    font-size: 24px;
    line-height: 29px;
    color: #2C3036;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-left: 20px;
    border-left: 5px solid #d92020;
}
.login-actions{
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}
.login-actions a{
    color: #d92020;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
}
.login-actions p{
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
}

.login-text{
    color: #9A9A9A;
    font-weight: 400;
}
.login-reg-text{
    font-weight: 500;
    color: #2C3036;
}
.login form{
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.input-clear{
    border: none;
    outline: none;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    color: #546070;
}
.input-clear:focus,
.input-clear:focus-visible{
    border: none;
}
.form-item{
    width: 100%;
    border: 1px solid #DAE3F8;
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
    position: relative;
}

.login form .btn{
    width: 100%;
}
input::placeholder{
    color: #9A9A9A;
    font-family: "Golos Text", sans-serif;
}
.login-email-text{
    gap: 20px;
}

.login-email-text p{
    color: #9A9A9A;
    font-size: 12px;
    font-weight: 400;
    font-family: "Golos Text", sans-serif;
    white-space: nowrap;
}
.login-email-text hr{
    width: 100%;
}
.login-right, .login-left{
    width: 50%;
    position: relative;
}
.login-left img{
    height: 100%;
    object-fit: cover;
}

.login-left:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(118.5deg, rgba(54, 54, 54, 0.97) 20.9%, rgba(54, 54, 54, 0.8) 87.21%);
    opacity: 0.5;
}
.password-security-low{
    background: #D92020;
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 4px;
    left: 0;
}

.password-security{
    background: #FBBB00;
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 4px;
    left: 0;
}
.password-security-hight{
    background: #27AE60;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
}
.password-error{
    background: #D92020;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
}
.password-confirm{
    background: #27AE60;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
}

.propusk-table-content p{
    margin-bottom:12px;
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Golos Text", sans-serif;
    white-space: nowrap;
}
.propusk-table-content p:last-child{
    color: #8E909D;
    margin-bottom: 0;
}
.propusk-table-content p.start{
    color: #27AE60;
}
.propusk-table-content p.end{
    color: #d92020;
}
.propusk-table-content td, .propusk-table-content th{
    text-align: left;
    white-space: nowrap;
}
.propusk-table-content .car-status-th{
    width: 50px;
}
.propusk-table-content .car-status div{
    width: 50px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0;
    gap: 20px;
}
.propusk-table-content .car-status div span{
    margin-top: 0;
}

.disabled{
    background: #9A9A9A;
    color: #FEFEFE;
}
.add-car h2{
    padding-left: 20px;
    color: #2C3036;
    font-size: 24px;
    font-weight: 500;
    border-left: 5px solid #d92020;
    margin-bottom: 20px;
}
.btn-gray{
    background: #fff;
    border: 1px solid #4E505A;
    color: #4E505A;
    width: 160px!important;
}
.add-car form{
    display: flex;
    gap: 20px;
}
.car-photo{
    width: 194px;
    height: 194px;
    border-radius: 10px;
    background: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
}
.car-photo svg{
    width: 50px;
    height: 50px;
}
.add-car-item:nth-child(2){
    width: 221px;
}
.add-car-item:last-child{
    width: calc(100% - 415px);
}

.cars-info p{
    color: #2C3036;
    font-size: 16px;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    margin-bottom: 7px;
}

.cars-info span{
    color: #8E909D;
}

.car-images{
    gap: 10px;
}
.car-img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: #EDEDED;
}
.car-actions{
    gap: 20px;
    height: 48px;
    align-items: center;
    position: relative;
}
.car-actions .btn{
    font-weight: 400;
    width: 196px;
}
.car-info-tooltip{
    cursor: pointer;
}
.car-info-tooltip:hover .tooltip-info{
    display: block;
    position: absolute;
    width: 256px;
    background: #FFFFFF;
    color: #556171;
    font-size: 14px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px #00000026;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    top: -65px;
    left: -63px;

}
.car-info-tooltip:hover .tooltip-info svg{
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}
.propusk-list{
    gap: 20px;
}

.propusk{
    width: 50%;
    border: 1px solid #DAE3F8;
    border-radius: 15px;
    background: #fff;
    padding: 30px;

}

.propusk th{
    font-size: 14px;
    padding: 20px 15px;
}
.propusk td{
    font-size: 14px;
    padding: 20px 15px;
}

.propusk td span{
    color: #8E909D;
}
.propusk .car-table-pagination{
    margin-top: 33px;
}
.propusk  table{
    margin-top: 40px;
}
.propusk h2{
    font-size: 24px;
    padding-left: 20px;
    border-left: 5px solid #d92020;
    color: #2C3036;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.propusk .form-filter{
    margin-top: 30px;
    align-items: flex-end;
}

.propusk-btn{
    background: #fff;
    border: 1px solid #DAE3F8;
    width: 48px;
    height: 39px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.propusk-btn-active{
    background: #F2F5FA;
    border: 1px solid #DAE3F8;
    width: 48px;
    height: 39px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.form-filter-item >div{
    width: 199px;
    margin-bottom: 30px;
}
.form-filter-item >div:last-child{
    margin-bottom: 0;
}
.form-filter-item >div label{
    margin-bottom: 7px;
    color: #2C3036;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    display: block;
    width: 100%;
}
.form-filter-item input{
    border: 1px solid #DAE3F8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 14px 30px;
    box-sizing: border-box;
    width: 100%;
}

.form-filter-item  div button{
    border: 1px solid #DAE3F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    background: #F2F5FA;
    width: 54px;
    height: 48px;

}
.form-filter-item:last-child > div{
    width: 246px;
    display: flex;
    justify-content: flex-end;
  align-items: flex-end;
    flex-direction: column;
}
.form-filter-item:last-child select{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #DAE3F8;
    padding: 14px 15px;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

.form-filter-item:last-child .btn{
    width: 211px;
}
.form-filter-item div  .btn-opacity{
    background: #FFECEC;
    color: #EC8080;
    border: none;
}
.custom-select{
    position: relative;
}
.custom-select svg{
  
    position: absolute;
    right: 15px;
    bottom: 12px;

}
.f-column{
    flex-direction: column;
}
.add-car input{
    height: 48px;
    border: 1px solid #DAE3F8;
    border-radius: 5px;
    padding: 14px 15px;
    box-sizing: border-box;
}
.add-car select{
    height: 48px;
    border: 1px solid #DAE3F8;
    border-radius: 5px;
    padding: 14px 15px;
    box-sizing: border-box;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}
select{
    height: 48px;
    border: 1px solid #DAE3F8;
    border-radius: 5px;
    padding: 14px 15px;
    box-sizing: border-box;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}
.add-car-item div:first-child{
    margin-bottom: 20px;
}

.add-car input[type=checkbox] + label{
    color: #9A9A9A;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
}

.add-car input[type=checkbox]{
    margin-right: 8px;
    margin-left: 0;
   
}
.add-car-item:last-child div:last-child{
    margin-top: 60px;
    justify-content: flex-end;
    gap: 28px;
}
.add-car-item div{
    gap: 7px;
}
.add-car-item .has-checkbox{
    gap: 0;
}
.add-car-item .btn{
    width: 185px;
}

.popup{
    position:fixed;
    background: rgba(43, 43, 43, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    top: 0;
    width: 100%;
    z-index: 9;
}
.popup-content{
    background: #fff;
    max-width: 583px;
    width: 100%;
    padding: 60px 40px ;
    border-radius: 15px;
    position: relative;
    max-height: 747px;
    display: flex;
    flex-direction: column;

    overflow: auto;
   
}
.popup-content h2{
    color: #2C3036;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding-left: 20px;
    border-left: 5px solid #D92020;
    margin-bottom: 40px;

}
.popup-content h4{
    color: #4E505A;
    font-size: 18px;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
.popup-content p{
    color: #4E505A;
    line-height: 20px;
    margin-bottom: 15px;
    font-family: "Golos Text", sans-serif;
}
.popup-content a{
    color: #CB2222;
    font-size: 16px;
    margin-right: 20px;
}
.popup-content span{
    color: #9A9A9A;
}
.popup-content .btn {
   margin-top:auto;
   width: 100%;
    height: 56px;
}
.popup-content div{
    margin-bottom: 25px;
}
.popup-close{
    position: absolute;
    top: 20px;
    right: 20px
}
.popup-lg .popup-content{
    max-width: 1024px;
    width: 100%;
}

.popup-lg .popup-content .btn{
    max-width: 503px;
    width: 100%;
}
.popup-success .popup-content{
   max-width: 583px;
   max-height: 363px;
   padding-bottom: 40px;
   padding-top: 93px;
}
.popup-success .popup-content p{
    margin-top: 15px;
    margin-bottom: 65px;
}

.car-number{
    width: 36px;
    height: 35px;
    background: #F6F7FB;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.fine-table-content th,
.fine-table-content td{
    text-align: left;
}
.fine-table-content th:last-child{
    width: 208px;
}

.price{
    font-weight: 500;
    color: #2C3036;
    white-space: nowrap;
}
.fine-red{
    color: #D92020;
    text-decoration: underline;
}
.fine-green{
    color: #27AE60;
}

.car-number:hover .tooltip-info{
    display: block;
    position: absolute;
    width: 127px;
    background: #FFFFFF;
    color: #2C3036;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px #00000026;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    bottom: 48px;


}
.car-number:hover .tooltip-info svg{
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
}
.fine-table-content .disabled{
    background: #F0F2F6;
    border: 1px solid #DAE3F8;
    color: #9A9A9A;
}

.diagnostic-table-content .car-status div{
    width: 100%;
    overflow: visible;
}
.diagnostic-table-content  th,
.diagnostic-table-content  td{
    text-align: left;
}
.diagnostic-table-content .btn-opacity{
    width: 163px;
    background: #FFECEC;
    color: #EC8080;
    text-decoration: underline  ;
}
.tabs{
    margin-bottom: 20px;
}
.tabs-list{
    gap: 15px;
}
.tabs-item{
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #DAE3F8;
}
.tabs-item a{
    color: #2C3036;
    font-weight: 400;
    font-family: "Golos Text", sans-serif;

}
.tabs-item a:hover{
    color: #d92020;
    text-decoration: underline;
}
.tabs-item-active a{
    color: #d92020;
    text-decoration: underline;

}
.diagnostic-card-list{
    background: #fff;
    border-radius: 10px;
    border: 1px solid #DAE3F8;
    padding: 28px 30px;
    gap: 40px;
}
.diagnostic-card-list h2 {
    padding-left: 20px;
    border-left: 5px solid #d92020;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.diagnostic-card-table{
    border: 1px solid #DAE3F8;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.diagnostic-card-table-row{
    background: rgba(242, 245, 250, 0.8);

}
.diagnostic-card-table-row div{
    width: 50%;
    border-right: 1px solid #DAE3F8;
    padding: 10px 20px;

}
.diagnostic-card-table-row div:last-child{
    border-right: 0;

}
.diagnostic-card-table-row:nth-child(2n){
    background: #fff;
}
.diagnostic-card-table-row div.fw{
    width: 100%;
}
.diagnostic-card-table-row div p{
    display: flex;
    justify-content: space-between;

}
.diagnostic-card-table-row div p > span{
    display: flex;
    width: calc(100% - 245px);
}

.diagnostic-card-table-row div p > span:first-child{
   width: 185px;
}

.diagnostic-card-table-row div p{
    gap: 60px;
    font-family: "Golos Text", sans-serif;
    color: #546070;
}
.diagnostic-card-item .btn{
    width: 281px;
    height: 48px;
    box-shadow: 0px 0px 10px 0px #4421211A;
    background: #CB2222;
}

.diagnostic-card-table-row div:nth-child(2){
    border-right: 0;
}
.diagnostic-card-table-row div a{
    color: #D92020;
    justify-content: flex-end;
    gap: 5px;
    text-decoration: underline;
    align-items: flex-start;
    font-family: "Golos Text", sans-serif;
}
.breadcrumbs ul {
    gap: 10px;
    margin-bottom: 20px;
}
.breadcrumbs ul li {
    gap: 10px;
}
.breadcrumbs ul li a{
    color: #2C3036;
    font-size: 15px;
    font-family: "Golos Text", sans-serif;
}
.breadcrumbs ul li{
    color: #95979A;
    font-size: 15px;
    font-family: "Golos Text", sans-serif;
}
.booking-card .add-car-item{
    flex-direction: row;
    display: flex;
    width: 100%;
    gap: 25px;
    flex-wrap: wrap;
}

.booking-card .form{
    flex-direction: column;
    gap: 25px;
    height: 100%;
    display: flex;
}
.booking-card .car-photo{
    width: 160px;
    height: 89px;
}
.booking-card .add-car-item:nth-child(2) div{
    width: 30%;

}
.booking-card .add-car-item:last-child{
    margin-top: auto;
    margin-bottom: 60px;
}
.booking-card .add-car-item:nth-child(2){
    gap: 20px;
}
.booking-card .add-car-item input{

    width: 100%;
}
.booking-card .form label{
    gap: 10px;
    font-family: "Golos Text", sans-serif;
    color: #2C3036;
    font-size: 14px;
}
.booking-card .add-car-item div:first-child{
    margin-bottom: 0;
}
.booking-card-content{
    height: calc(100% - 150px);
}
.booking-card-content .add-car{
    height: 100%;
}
.balance-add{
    color: #27AE60;
}

.balance{
    background: #fff;
    padding: 30px;
    border: 1px solid #DAE3F8;
    border-radius: 15px;
}
.balance-info h2{
    color: #2C3036;
    font-weight: 600;
    font-family: "Golos Text", sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
}
.balance-info h2 span{
    font-size: 24px;
}

.balance-info p span{
    color: #CB2222;
    font-weight: 500;
    font-family: "Golos Text", sans-serif;
    margin-right: 10px;
}
.balance-info p  {
    margin-bottom: 20px;
    font-weight: 400;
    font-family: "Golos Text", sans-serif;
    color: #2C3036;
}
.balance-info svg{
    margin-left: 10px;
}
.balance-info .btn{
    width: 246px;
}
.balance-card-list{
    margin-top: 30px;
    gap: 20px;
}
.balance-card-list div{
    width: 190px;
    height: 109px;
    border: 1px solid #DAE3F8;
    border-radius: 5px;
}
.balance-history{
    background: #fff;
    padding: 30px;
    border: 1px solid #DAE3F8;
    border-radius: 15px;
    margin-top: 20px;
    min-height: 529px;
}
.balance-history h2{
    padding-left: 20px;
    border-left: 5px solid #d92020;
    font-size: 24px;
    color: #2C3036;
    font-weight: 500;
    margin-bottom: 30px;
}
.balance-filter{
    gap: 30px;
    margin-bottom: 20px;
}
.balance-filter div{
    display: flex;
    align-content: center;
    gap: 10px;
}
.balance-history-row{
    border-top: 1px solid #DAE3F8;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    align-items: center;
}

.balance-history-row p{
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}
.balance-history-row p:last-child{
    margin-bottom: 0;
    display: flex;
    gap: 30px;
}

.balance-history-row div:last-child{
    width: 100%;
    justify-content: space-between;
}
.balance-history-row div:last-child  p:first-child{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.notification{
    background: #fff;
    padding: 30px;
    border: 1px solid #DAE3F8;
    border-radius: 15px;
}
.notification h2{
    padding-left: 20px;
    border-left: 5px solid #d92020;
    color: #2C3036;
    font-weight: 500;
    margin-bottom: 25px;
}
.notification-title{
    color: #546070;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    gap: 10px;
    white-space: nowrap;
    margin-bottom: 30px;
    border-bottom: 0;
}
.notification-list h3{
    color: #4E505A;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: "Golos Text", sans-serif;
}
.notification-list h3 span{
    margin-right: 10px;
}
.notification-title hr{
    width: 100%;
}
.notification-list p{
    color: #4E505A;
    font-family: "Golos Text", sans-serif;
    line-height: 20px;
    margin-bottom: 10px;
}
.notification-list a{
    color: #CB2222;
    text-decoration: underline;
    margin-right: 20px;
}
.notification-list  > div {
    padding-bottom: 20px;

    border-bottom: 1px solid #DAE3F8;
    margin-bottom: 20px;
}
.notification-list  > div:last-child{
    border-bottom: 0;
}
.support .add-car-item div{
    width: 221px;
    margin-bottom: 0;
}
.support .add-car-item{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
}
.support .add-car-item div:nth-child(3){
    width: 100%;
}
.support .add-car-item:last-child{
    width: 100%;
}
.faq{
    background: #fff;
    padding: 30px;
    border: 1px solid #DAE3F8;
    border-radius: 15px;
}
.faq h2{
    padding-left: 20px;
    border-left: 5px solid #d92020;
    color: #2C3036;
    font-weight: 500;
    margin-bottom: 25px;
}
.faq-list{
    flex-wrap: wrap;
    gap: 20px;
}
.faq-item{
    width: 48%;
    border-bottom: 1px solid #DAE3F8;

}
.faq-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;

}
.faq-text{
    color: #546070;
    line-height: 19px;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}
.support-contact h2{
    font-size: 18px;
    margin-bottom: 15px;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    color: #2C3036;
}
.support-contact{
    background: #fff;
    padding: 30px;
    border: 1px solid #DAE3F8;
    border-radius: 15px;
    margin-top: 20px;
}
.support-contact p{
    color: #8D8D8D;
    font-size: 12px;
    font-family: "Golos Text", sans-serif;
    margin-bottom: 3px;

}
.support-contact p:last-child{
    color: #CB2222;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
.faq-item-opened button{
    transform: rotate(180deg);
}
.support label{
    font-size: 14px;
    color: #2C3036;
}
.support label span{
    color: #CB2222;
}
.fine-photo{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    position: relative;
}
.fine-photo:before{
        content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3A3C48A1;
    overflow: hidden;
    border-radius: 5px;
}
.fine-photo svg{
    z-index: 1;
}

.profile  .input-block  input{
    border: none;
    height: auto;
    padding: 4px 10px;
    box-sizing: border-box;
}
.profile  .input-block{
    padding: 12px 15px;
}
.profile label{
    color: #2C3036;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
}
.profile .add-car-item div:first-child{
    margin-bottom: 0;
}
.profile .add-car-item{
    gap: 20px;
}
.profile .add-car-item:last-child{
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 16px;
}
.btn-opacity{
    background: #FFECEC;
    color: #EC8080;
}

.profile-tab{
    margin-top: 40px;
    gap: 20px   ;
    margin-bottom: 30px;
}

.profile-tab a{
    font-family: "Golos Text", sans-serif;
    color: #546070;
    font-weight: 400;
}

.profile-tab .tabs-item-active{
    text-decoration: underline;
    color: #D92020;
}
.profile-form-item {
    flex-wrap: wrap;
    gap: 20px;
}
.profile-form-item div{
    width: calc((100% - 40px) / 3);
    justify-content: flex-end;
    gap: 7px;
}

.profile-form-item .btn{
    width: 100%;
    height: 48px;
}
.profile-form-item:last-child{
    margin-top: 49px;
}
.profile-form-item:last-child .btn-gray{
    width: 160px!important;
}
.profile-form-item:last-child div{
    width: 100%;
    justify-content: flex-start;
    gap: 28px;
}
.profile-form-item:last-child .btn{
    width: 185px;
}
textarea{
    border: 1px solid #DAE3F8;
    resize: none;
    border-radius: 5px;
    padding: 14px 15px;
    box-sizing: border-box;
    height: 48px;
    font-family: "Golos Text", sans-serif;
    outline: none;
}
.fine-view{
    background: #fff;
    padding: 30px;
    border: 1px solid #DAE3F8;
    border-radius: 15px;
    margin-top: 20px;
}
.fine-view-filter{
    margin-bottom: 29px;
}
.fine-item{
    border-top: 1px solid #DAE3F8;
    padding-top: 20px;
}

.fine-photo{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: url("../images/fine.png");
    background-size: cover;
}

.popup-propusk .btn-opacity{
    width: 205px;
    height: 48px;
}
.popup-propusk >div >div{
    gap: 20px;
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
}
.popup-propusk .popup-content p.car-table-time{
    color: #9A9A9A;
}
.popup-propusk .popup-content p{
    color: #CB2222;

}
.popup-propusk .popup-content > .btn:last-child{
    margin-top: 70px;
}

 .navbar-dropdown{
    position: absolute;
    flex-direction: column;
    width: 191px;
    box-shadow: 0px 0px 20px 0px #0000001A;
    background: #fff;
    border: 1px solid #DAE3F8;
    border-radius: 10px;
    padding: 15px 20px;
     top: 75px;
     z-index: 9;
}
.navbar-dropdown a{
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 12px 0;
    gap: 10px;
    color: #556171;
    font-family: "Golos Text", sans-serif;
}
.navbar-dropdown a:last-child{
    border-top: 1px solid #DAE3F8;
}
.navbar-dropdown a svg  {
    width: 24px;
    height: 24px;
}
.navbar-dropdown a svg  path{
    stroke: #556171;
    fill: #556171;
}

.navbar-dropdown a:hover {
    color: #D92020;
}
.navbar-dropdown a:hover svg  path{
    stroke: #D92020;
    fill: #D92020;
}
.cars-filter{
    position: relative;
}
.sort-list{
    display: none;
    gap: 10px;
    position: absolute;
    top: 70px;
    width: 228px;
    border-radius: 10px;
    background: #fff;
    padding: 15px 20px;
    border: 1px solid #DAE3F8;
    box-shadow: 0px 0px 20px 0px #0000001A;

}

.sort-list a{
    padding-bottom: 10px;
    border-bottom: 1px solid #DAE3F8;
    color: #556171;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
}
.sort-list a:last-child{
    border-bottom: 0;
}
.sort-list a:hover{
    color: #D92020;
}
.cars-filter-sort:hover .sort-list{
    display: flex;
    cursor: pointer;
}
.fine-title > div:first-child{
    width: 40px;
    display: flex;
    align-items: center;
}
.fine-title div{
    font-family: "Golos Text", sans-serif;
    color: #2C3036;
}
.fine-body{
    padding-left: 40px;
}

.fine-body h2{
    color: #546070;
    font-size: 20px;
    padding-left: 20px;
    border-left: 5px solid #D92020;
    display: flex;
    align-items: center;
}
.fine-body-title{
    align-items: flex-start;
}
.fine-info p{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: "Golos Text", sans-serif;
}
.fine-info p span{
    display: flex;
    width: 60%;
}
.fine-info p:last-child span{
    font-size: 14px;
}
.fine-date{
    gap: 10px;
    margin-left: 19px;
}
.fine-date span{
    display: flex;
    /*align-items: center;*/
    color:#546070;
    align-items: flex-end;
    gap: 6px;
}
.fine-date p{
    display: flex;

    gap: 19px;
}
.fine-date p:last-child{
    gap: 2px;
    align-items: center;
}
.fine-date p:last-child span{
    color: #9A9A9A;
}
.fine-title div:last-child{
    margin-left: auto;
}
.fine-title div:last-child a{
    color: #2C3036;
    display: flex;
    gap: 10px;
    align-items: center;
}
.fine-car-number{
    width: 30%;
    text-align: center;
    color: #2C3036;
}
.fine-list{
    border-bottom: 1px solid #DAE3F8;
    margin-bottom: 100px;
}
.fine-title{
    padding-bottom: 20px;
}

.fine-title input[type="checkbox"]{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    margin: 0;
}
.fine-title.opened div:last-child svg{
    transform: rotate(180deg);
}
.fine-price{
    white-space: nowrap;
    margin-right: 50px;
    font-weight: 500    ;
}
.insurance{
    background: #fff;
    border: 1px solid #DAE3F8;
    border-radius: 10px;
    padding: 40px 30px;
}
.insurance-list-column{
    flex-wrap: wrap;
    gap: 20px;
}
.insurance-item{
    padding: 20px;
    border: 1px solid #DAE3F8;
    border-radius: 10px;
    width: calc((100% - 40px)/3);
}
.insurance-item .car-photo{
    width: 60px;
    height: 60px;
}
.insurance-item > div:first-child{
    gap: 15px;
    margin-bottom: 15px;
}
.insurance-item > div:first-child div:last-child{
    margin-left: auto;
}
.insurance-item {
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
}
.insurance-item p:first-child{
    margin-bottom: 5px;
}
.insurance-name{
    gap: 7px;
    margin-bottom: 5px;
}
.insurance-item-add{
    background: #FFECEC;
    border: 1px solid #F7C1CE;
    padding: 0;
}
.insurance-item-add button{
    width: 100%;
    height: 100%;
    color: #EC8080;
    gap: 5px;
    padding: 20px;
}

.insurance h2{
    color: #2C3036;
    padding-left: 20px;
    border-left: 5px solid #D92020;
    font-weight: 500;
    margin-bottom: 30px;
}
.insurance-view{
    gap: 10px;
}
.insurance-table td,
.insurance-table th{
    text-align: left;
}
.insurance-table button:hover + .settings-menu{
    display: flex;
}
.insurance-table td:last-child > div{
    position: relative;
}
.settings-menu {
    position: absolute;
    border: 1px solid #DAE3F8;
    width: 193px;
    border-radius: 10px;
    background: #fff;
    right: 30px;
}
.settings-menu a{
    padding: 15px 20px;
    color: #546070;
    font-family: "Golos Text", sans-serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings-menu a:first-child{
    border-bottom: 1px solid #DAE3F8;
}

.insurance-table .car-status-th{
    width: 53px;
}
.insurance-company{
    white-space: pre-line;
}
.insurance-table p{
    white-space: nowrap;
}
.insurance div{
    font-family: "Golos Text", sans-serif;
    align-items: baseline;
}
.insurance form .add-car-item .car-photo{
    margin-top: 0;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 89px;
}
.insurance form .add-car-item .car-photo svg{
    width: 20px;
    height: 20px;
}
.insurance form .add-car-item div:first-child .car-photo{
    border: 1px solid #F7C1CE;
    background: #FFECEC;
}
.insurance form .add-car-item div:nth-child(2) .car-photo{
    border: 1px solid #F7E1C1;
    background:#FCF5EB;
}
.insurance form .add-car-item div:last-child .car-photo{
    border: 1px solid #BDE8D3;
    background:#EAF8F1;
    margin-top: 0;
}
.insurance form .add-car-item div:nth-child(2) .car-photo svg path{
    fill: #F2A735;
}
.insurance form .add-car-item div:last-child .car-photo svg path{
    fill: #27A468;
}
.insurance form label{
    color: #2C3036;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
}

.insurance form .add-car-item div:first-child{
    margin-bottom: 0;
}
.insurance form .add-car-item:last-child div:last-child{
    margin-top: 0;
    gap: 5px;
}
.insurance form .add-car-item {
    gap: 25px;
}
.insurance form {
    gap: 25px;
}
.insurance form .add-car-item:first-child label{
    color: #546070;
    font-size: 16px;
    gap: 10px;
}
.insurance form input[type=text]{
    height: 48px;
    border: 1px solid #DAE3F8;
    border-radius: 5px;
    padding: 14px 15px;
    box-sizing: border-box;
    width: 330px;
}
.insurance form  select{
    width: 330px;
}
.insurance .input-block{
    width: 330px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.insurance form .input-block input{
    border: none;
    font-family: "Golos Text", sans-serif;
}
.insurance form .add-car-item{
    margin-bottom: 30px;
}
.insurance form .add-car-item:nth-child(2){
    margin-bottom: 10px;
}
.insurance form .add-car-item .btn-opacity{
    width: 241px;
}
.insurance form .add-car-item .btn-opacity svg{
    width: 16px;
    height: 16px;
}
.insurance form .add-car-item:last-child div:last-child{
    gap: 20px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #DAE3F8;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 1px solid #DAE3F8;
    border-radius: 3px;
}
input[type="checkbox"]::before {
    content: "";
    left: 8px;
    top: 4px;
    width: 3px;
    height: 7px;

}
input[type="checkbox"]:checked::before {
    border: solid #CB2222;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


input[type="radio"] {
    width: 18px;
    height: 18px;
    accent-color: #DAE3F8;
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.1rem;
    border: 1px solid #9A9A9A;
    border-radius: 100%;
}
input[type="radio"]::before {
    content: "";
    margin-top: 1.5px;

    width: 10px;
    height: 10px;
    border-radius: 100%;

}
input[type="radio"]:checked::before {
    background:#CB2222;
}
input[type="radio"]:checked{
    border-color: #CB2222;
}
input[type="radio"]:checked + label{
    color: #CB2222;
}
input[type="radio"] + label{
    font-size: 16px;
    color: #9A9A9A;
}
input[type="radio"]:hover {
    color: black;
}
.form-control{
    display: flex;
    align-items: center;
    gap: 10px;
}
.offer-img{
    width: 369px;
    height: 466px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}
.offer-info{
    gap: 25px;
}
.offer-text{
    width: calc(100% - 421px);
}
.offer-text h4{
    font-size: 20px;
    color: #2C3036;
    font-weight: 500;
    padding-top: 20px;
    line-height: 28px;
   max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
}
.offer-text h4 span{
    color: #CB2222;
    font-weight: 600;

}
.offer-text p{
    color: #546070;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
    max-width: 530px;
    width: 100%;
}
.offer-text .btn{
    margin-top: 40px;
    width: 251px;
    background: #CB2222;
    border: 1px solid #DF4C4C;
}

.special-offers .special-item{
    height: 116px;
}
.special-offers .special-item img{
    object-fit: cover;
}
.special-offers .block-title{
    padding-left: 20px;
    border-left: 5px solid #D92020;
    font-size: 24px;
    color: #2C3036;
    font-weight: 500    ;
    margin-bottom: 30px;
}

.special-text{
    font-size: 32px;
    padding-top: 0;
    padding-right: 0;
}
.special-offers{
    padding-bottom: 82px;
}
.monitoring-map img{
    width: 100%;
}
.monitoring-filter{
    padding-top: 27px;
    margin-bottom: 383px;
}
.monitoring-filter > div:first-child{
    padding: 12px 24px;
    gap: 10px;
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
}
.monitoring-filter div:first-child button{
    margin-left: auto;
}

.monitoring-filter .btn-opacity{
    width: 100%;
    margin-top: 10px;
    border: 1px solid #F7C1CE;
}

.pin-list{
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 10px;
}
.pin-item{
    padding: 12px 0;
    gap: 10px;
    align-items: center;
    font-family: "Golos Text", sans-serif;
}
.offline{
    font-size: 12px;
    color: #9A9A9A;
}
.online{
    font-size: 12px;

    color: #27AE60;
}

.pin-orange svg path{
    fill: #FF9900;
}
.pin-green svg path{
    fill: #27A468;
}
.pin-item:hover > .pin-view{
    display: block;
}
.pin-view{
    position: absolute;
    width: 535px;
    border: 1px solid #DAE3F8;
    border-radius: 10px;
    background: #fff;
}
.pin-title{
    padding: 20px 30px;
    background: #F2F5FA;
    display: flex;
    border-bottom: 1px solid #DAE3F8;
}
.pin-title div{
    margin-left: auto   ;
    gap: 10px;
}
.pin-info{
    padding: 20px 30px;
}
.car-status-red{
    background: #E54444;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin-right: 7px;
}
.pin-info p{
    font-size: 12px;
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
    margin-bottom: 5px;
}
.pin-info .car-table-time{
    color: #9A9A9A;
}
.pin-time{
    color: #546070;
    margin-top: 10px;
    margin-bottom: 20px;
}
.pin-time .car-status-gray{
    width: 5px;
    height: 5px;
    margin-right: 7px;
}
.pin-table{
    margin-top: 20px;
}

.pin-row {
    border: 1px solid #DAE3F8;
    border-bottom: 0;
}
.pin-row:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pin-row:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #DAE3F8;
}
.pin-row div{
    padding: 12px 27px;
    border-right: 1px solid #DAE3F8;
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}
.pin-row div:last-child{
    border-right: 0;
}
.pin-row:first-child div{
    color: #546070;
    font-weight: 500;
    font-family: "Golos Text", sans-serif;
    width: 25%;
    justify-content: center;
}
.pin-row div{
    color: #2C3036;
    width: 50%;
    font-size: 12px;
    font-weight: 400;
    font-family: "Golos Text", sans-serif;
    justify-content: flex-start;
}
.car-table-time-red{
    color: #D92020;
}
.monitoring{
    position: relative;
}
.monitoring-popup{
    width: 100%;
    height: 100%;
    background: #FFFFFFCC;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.monitoring-popup-content{
    background: #fff;
    width: 357px;
    border: 1px solid #DAE3F8;
    border-radius: 10px;

}
.monitoring-popup-head{
    padding: 19px 30px;
    background: #F2F5FA;
    border-bottom: 1px solid #DAE3F8;
    justify-content: space-between;
    align-items: center;
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
    font-size: 16px;
}
.monitoring-popup-body{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.monitoring-popup-body input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #DAE3F8;
    height: 48px;
    padding: 14px 15px;
    box-sizing: border-box;
    outline: none;
}
.monitoring-popup-content p{
    color: #4E505A;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 5px;
    font-family: "Golos Text", sans-serif
}
.extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid #DAE3F8;
    border-bottom: 1px solid #DAE3F8;
}
.extra.opened{
    border-bottom: 0;
}
.extra.opened svg{
    transform: rotate(180deg);
}
.extra-block.custom-select select{
    width: 100%;
    color: #546070;
    outline: none;
}
.monitoring-popup-content .btn{
    width: 100%;
    margin-top: 40px;
}
.story-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 43, 43, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

}
.story-list ul{
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.story-list li{
    width: 342px;
    height: 607px;
    border-radius: 15px;
    background: #262626E5;

}
.story-list li.story-active{
    width: 436px;
    height: 775px;
    border-radius: 15px;
    background: #262626E5;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.story-active h2{
    font-size: 48px;
    color: #ffffff;
    line-height: 60px;
    font-weight: 900;
    margin-bottom: 30px;
}
.story-list li.story-active .story-content >  div:first-child  button{
    margin-left: auto;
    margin-bottom: 54px;
}
.story-active p{
    color: #fff;
    line-height: 22px;
    font-family: "Golos Text", sans-serif;
}
.story-active .story-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.story-active .story-content > div:last-child{
    margin-top: auto;
}
.story-actions .btn{
    width: 189px;
}
.story-list li.story-active{
    box-shadow: 0px 0px 70px 0px #00000033;
    position: relative;
    background: linear-gradient(180deg, #363636 0%, rgba(54, 54, 54, 0.28) 100%);

}
.story-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    height: 100%;
    border-radius: 15px;
}
.story-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    zoom: 2;
    scale: 1.5;
    z-index: 0;
    display: flex;
    position: relative;
}
.story-close button{
    margin-left: auto;
}
.navbar-notify{
    position: relative;
}
.notification-count{
    position: absolute;
    right: -3px;
    min-width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #D92020;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    white-space: nowrap;
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
    top: -4px;
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
}

.personal-manager-info{
    font-family: "Golos Text", sans-serif;
}
.personal-manager-info p{
    color: #2C3036;
}
.service-title{
    font-family: "Golos Text", sans-serif;
    color: #2C3036;
}
.has-checkbox .form-control{
    font-size: 14px;
    color: #9A9A9A;
    white-space: nowrap;
    margin-top: 10px;
}
.fine-view-filter > div:first-child{
    gap: 10px;
    color: #9A9A9A;
}