body{
    background: #F2F5FA;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
img{
    max-width: 100%;
}
p,h1,h2,h3,h4,ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
aside{
    width: 310px;
    background: #FEFEFE;
    border-right:1px solid #DAE3F8
}
.j-spc-btw{
    justify-content: space-between;
}

.df{
    display: flex;
}
.a-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.dn{
    display: none;
}

.sidebar-title{
    color: #d92020;
    font-size: 14px;
    font-weight: 700;
    padding-top: 4px;
    white-space: nowrap;
}
.sidebar-text{
    color: #5e5e5e;
    font-size: 10px;
}
.sidebar-head{
    padding: 20px 56px 22px 47px;
    gap: 7px;
}
.sidebar-hr{
    padding-left: 20px;
    padding-right: 30px;
}
hr{
    border: none;
    background: #DAE3F8;
    height: 1px;
}

.sidebar-menu-block{
    padding: 0 30px 0 20px;
}

.sidebar-menu{
    padding: 32px 0;
}

.sidebar-menu-item{
    padding: 12px 24px;
}
.sidebar-menu-item:hover{
    background: #D92020;
    border-radius: 5px;
}
.sidebar-menu-link{
    color: #2C3036;
    font-size: 16px;
    line-height: 19px;
    gap: 10px;
    align-items: center;
    font-family: "Golos Text", sans-serif;
}


.sidebar-menu-item:hover .sidebar-menu-link{
    color: #fff;
}
.sidebar-menu-item:hover .sidebar-menu-link svg path,
.sidebar-menu-item:hover .sidebar-menu-link svg circle,
.sidebar-menu-item:hover .sidebar-menu-link svg line,
.sidebar-menu-item:hover .sidebar-menu-link svg rect
{
    stroke: #fff;
}

.sidebar-menu-block h4{
    color: #546070;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
    margin-top: 32px;
    padding-left: 24px;
}
.sidebar-help .sidebar-menu{
    padding-top: 0;
}
.sidebar-story{
    gap: 15px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 90px;
}
.sidebar-story img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}
.sidebar-story p{
    text-align: center;
    font-size: 14px;
    color: #9A9A9A;
    margin-top: 5px;
    font-weight: 500;
}

.sidebar-story-img{
    border-radius: 100%;
    overflow: hidden;
    height: 60px;
    width: 60px;
    opacity: 0.3;
    border: 3px solid #DFDFDF;
}
.sidebar-story-item a:hover p{
    color: #27A468;
}
.sidebar-story-item a:hover .sidebar-story-img{
    opacity: 1;
}
.sidebar-footer{
    padding: 22px 44px;
    border-top: 1px solid #DAE3F8;
}

.sidebar-close{
    border: none;
    color: #B8BFCC;
    font-size: 16px;
    line-height: 22px;
    background: transparent;
    gap: 10px;
    cursor:pointer
}

main{
    width: calc(100% - 310px);
}

.content{
    background: #F2F5FA;
    padding: 20px;
    box-sizing: border-box;
}

header{
    background: #FEFEFE;
    border-bottom: 1px solid #DAE3F8;
    width: 100%;
    padding: 24px ;
    box-sizing: border-box;
}
.navbar{
    gap: 70px;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.navbar-search{
    max-width: 1058px;
    width: 100%;
}
.navbar-balance{
    gap: 8px;
}
.navbar-balance{
    color: #4E505A;
}
.navbar-balance span{
    font-size: 20px;
}
.navbar-balance p{
    white-space: nowrap;
}
.input-block{
    border: 1px solid #DAE3F8;
    border-radius: 7px;

    width: 100%;
    padding: 13px 16px;
    gap: 12px;
    box-sizing: border-box;
}
.input-block input{
    border: none;
    height: 22px;
    width: 100%;
}
.btn-clear{
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.navbar-notify{
    width: 24px;
    height: 24px;
}
.navbar-account{
    gap: 15px;
}
.navbar-circle{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: #DFDFDF;

}
.navbar-profile{
    gap: 10px;
}
.navbar-profile-title{
    color: #2C3036;
    font-size: 14px;
    margin-bottom: 1px;
    line-height: 16px;
}
.navbar-profile-text{
    line-height: 16px;
    font-size: 14px;
    color: #9A9A9A;
    margin-bottom: 3px;
}
.navbar-profile-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.personal-info{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 25px;
}

.welcome-text{
    color: #2C3036;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
    padding: 5px 0 5px 20px;
    border-left: 5px solid #D92020;
    font-weight: 500;
}
.welcome-text span{
    color: #d92020;
    font-weight: 600;

}
.personal-info-item{
    border-right: 1px solid #DAE3F8;
    padding: 15px 0 15px 20px;
    width: 33%;
}
.personal-info-item:first-child{
    border-left: 1px solid #DAE3F8;
}

.personal-info-item p:first-child{
    font-size: 24px;
    color: #2C3036;
    margin-bottom: 5px;
    line-height: 24px;
    font-weight: 500;

}
.personal-info-item p:last-child{
    color: #546070;
    font-size: 16px;
}
.personal-info-item span{
    color: #d92020;
}
.special{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 10px;
    gap: 20px;
}

.services{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 10px;

}



.block-title{
    font-size: 20px;
    line-height: 24px;
    color: #2C3036;
    margin-bottom: 25px;
    font-weight: 600;
}
.special-item{
    width: 33%;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #DAE3F8;
    box-sizing: border-box;
    position: relative;

}
.special-item:before{
    content: '';
    background: linear-gradient(101.38deg, #484848 5.05%, rgba(72, 72, 72, 0.4) 118.99%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.special-item p{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    font-size: 18px;
    width: 215px;
    line-height: 23px;

}
.special-item p span{
    font-weight: 700;
}

.special-list{
    gap: 20px;
}

.services-list{
    gap: 20px;
}
.services-item{
    max-width: 198px;
    width: 100%;
    text-align: center;

}

.service-item-img{
    border: 1px solid #DAE3F8;
    background: radial-gradient(217.45% 83.93% at 50% 100%, #FFFFFF 36.5%, rgba(255, 255, 255, 0.5) 100%);
    border-radius: 10px;
    margin-bottom: 11px;
}
.personal-manager-block{
        background: #fff;
        padding: 25px 30px;
        margin-bottom: 25px;
        border-radius: 10px;

}
.personal-manager{
    gap: 15px;
}
.personal-manager .navbar-circle{
    width: 60px;
    height: 60px;
}

.personal-manager .personal-info{
    color: #2C3036;
    margin-bottom: 6px;
}
.personal-manager-contact{
    gap: 27px;
}
.personal-manager-contact p{
    color: #546070;
}
.personal-manager-contact a{
    color: #546070;
    text-decoration: underline;

}
div{
    box-sizing: border-box;
}


.sidebar-small{
    width: 110px;
}
.sidebar-small .sidebar-desc{
    display: none;
}
.sidebar-small .sidebar-head{
    padding-left: 28px;
    padding-right: 28px;
}
.sidebar-small   .sidebar-hr{
    padding-right: 18px;
}

.sidebar-small .sidebar-menu-block{
    padding-right: 18px;
}
.sidebar-small .sidebar-menu-link{
    text-indent: -999999px;
    gap: 0;
}

.sidebar-small .sidebar-help h4{
    display: none;
}
.sidebar-small .sidebar-story-item:last-child{
    display: none;
}

.sidebar-small .sidebar-story{
    padding: 0;
}

.sidebar-small .sidebar-close{
    text-indent: -99999px;
}
.main-large{
    width: calc(100% - 110px);
}
.cars-filter {
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.cars-table{
    background: #fff;
    padding: 25px 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.cars-filter-sort{
    gap: 20px;
}
.cars-filter-sort{
    color: #546070;
    font-family: "Golos Text", sans-serif;
}
.sort-btn{
    color: #D92020;
}

.btn{
    background: #d92020;
    color: #FEFEFE;
    letter-spacing: 2px;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    gap: 5px;
    padding: 13px;
    width: 210px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;

}
table{
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #DAE3F8;

}
td{
    border-bottom: 1px solid #DAE3F8;
}
th{
    border-bottom: 1px solid #DAE3F8;
}
tr:last-child td{
    border-bottom: 0;
}
th,td{
    padding: 20px;
}
table th:first-child{
    border-top-left-radius: 10px;
}
table th:last-child{
    border-top-right-radius: 10px;
}
table tr:last-child td:last-child{
    border-bottom-left-radius: 10px;
}
table tr:last-child td:first-child{
    border-bottom-right-radius: 10px;
}
th{
    color: #546070;
    font-family: "Golos Text", sans-serif;
    text-align: center;
    font-weight: 400;
}
td{
    text-align: center;
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
}
thead{
    background: #F2F5FA;
    overflow: hidden;
    padding: 20px;
}
.settings-btn{
    text-indent: -9999px;
}
.car-img-add{
    width: 60px;
    height: 60px;
    background: #EDEDED;
    border-radius: 10px;
}
.car-status{
    text-align: left;
}
.car-status div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: fade;
    width: 100px;
    display: block;
}
.car-status-green{
    width: 10px;
    height: 10px;
    background: #27AE60;
    border-radius: 100%;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
}
.car-status-gray{
    width: 10px;
    height: 10px;
    background: #DFDFDF;
    border-radius: 100%;
    margin-right: 5px;
    float: left;
    margin-top: 5px;

}

.car-status-th{
    width: 100px;
    text-align: left;
}
.car-photo-th{
    text-align: left;
}

.car-table-time{
    color: #9A9A9A;
}
.car-load-more{
    color: #2C3036;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
    gap: 5px;
}
.pagination{
    align-items: center;
    gap: 10px;
    font-family: "Golos Text", sans-serif;
}
.pagination-item-prev{
    margin-right: 5px;
}
.pagination-item-next{
    margin-left: 5px;
}
.pagination-item{
    align-items: center;
    display: flex;
}
.pagination-item-active{
    color: #D92020;
}
.pagination-item a{
    color: #2C3036;
    font-family: "Golos Text", sans-serif;
}
.pagination-item a:hover {
    color: #D92020;
}
.pagination-item a:hover svg path{
    stroke: #d92020;
}
.car-table-result-count{
    color: #9A9A9A;
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
}
.car-table-pagination{
    margin-top: 58px;
}
.login{
    width: 920px;
    margin: 168px auto;
    border-radius: 15px;
    background: #fff;
    overflow: hidden;

}
.login-right{
    padding: 73px 50px 97px;
    box-sizing: border-box;
}
.login-with{
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
}
.login h2{
    font-size: 24px;
    line-height: 29px;
    color: #2C3036;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding-left: 20px;
    border-left: 5px solid #d92020;
}
.login-actions{
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
}
.login-actions a{
    color: #d92020;
    font-family: "Golos Text", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
}
.login-actions p{
    font-size: 14px;
    font-family: "Golos Text", sans-serif;
}

.login-text{
    color: #9A9A9A;
    font-weight: 400;
}
.login-reg-text{
    font-weight: 500;
    color: #2C3036;
}
.login form{
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.input-clear{
    border: none;
    outline: none;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
    color: #546070;
}
.input-clear:focus,
.input-clear:focus-visible{
    border: none;
}
.form-item{
    width: 100%;
    border: 1px solid #DAE3F8;
    border-radius: 5px;
    padding: 15px;
    gap: 10px;
    position: relative;
}

.login form .btn{
    width: 100%;
}
input::placeholder{
    color: #9A9A9A;
    font-family: "Golos Text", sans-serif;
}
.login-email-text{
    gap: 20px;
}

.login-email-text p{
    color: #9A9A9A;
    font-size: 12px;
    font-weight: 400;
    font-family: "Golos Text", sans-serif;
    white-space: nowrap;
}
.login-email-text hr{
    width: 100%;
}
.login-right, .login-left{
    width: 50%;
    position: relative;
}
.login-left img{
    height: 100%;
    object-fit: cover;
}

.login-left:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(118.5deg, rgba(54, 54, 54, 0.97) 20.9%, rgba(54, 54, 54, 0.8) 87.21%);
    opacity: 0.5;
}
.password-security-low{
    background: #D92020;
    position: absolute;
    bottom: 0;
    width: 45px;
    height: 4px;
    left: 0;
}

.password-security{
    background: #FBBB00;
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 4px;
    left: 0;
}
.password-security-hight{
    background: #27AE60;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
}
.password-error{
    background: #D92020;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
}
.password-confirm{
    background: #27AE60;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    left: 0;
}

.propusk-table-content p{
    margin-bottom:12px;
}
.propusk-table-content td{
    text-align: left;
}